<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleDisplayName</key>
  <string>ShareCheck</string>
  <key>NSPhotoLibraryUsageDescription</key>
  <string>ShareCheck needs access to your photo library to show unprocessed photos and videos.</string>
  <key>NSPhotoLibraryAddUsageDescription</key>
  <string>ShareCheck uses the standard share sheet when you share photos.</string>
  <key>UILaunchScreen</key>
  <dict/>
</dict>
</plist>
